.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  cursor: pointer;
}

.ship {
  background-color: grey;
}

.hit {
    background-color: red;
}

.miss {
    background-color: white;
}

.message {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: green;
}

#placementControls {
  margin-top: 20px;
}

#placementControls div {
  margin-bottom: 10px;
}